<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wittyapp.draegerit.de.wittyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- AppID ca-app-pub-8772239501259424~9390363923 -->
    <!-- BannerID ca-app-pub-8772239501259424/5055108067 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/wittycloud"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wittycloud"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".examples.PhotoresistorActivity" />
        <activity android:name=".examples.RgbLedActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ImprintActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".examples.TemperatureSensorActivity" />
        <activity android:name=".examples.BuzzerActivity" />
        <activity android:name=".ConsoleActivity" />
        <activity android:name=".examples.RelayActivity"></activity>
    </application>

</manifest>